# world.malibooo
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-wrapper{
  background-image:url(https://github.com/Maliboookun/world.malibooo/blob/master/S__199491586.jpg);
  background-size:cover;
  padding:180px 0 100px 0;
  text-align:center;
  color:white;
}

.container{
  width:1170px;
  margin:0 auto;
}

.container h2{
  font-size:45px;
  font-weight:bold;
  letter-spacing:5px;
  color:white;
  opacity:0.7;
  margin-bottom:30px;
}

.header-wrapper p{
  margin-bottom:15px;
  opacity:0.7;
}

.reserve{
  margin-top:15px;
  margin-bottom:15px;
  background-color:#239b76;

}

.Facebook{
  background-color:#3b5998;
  margin-right:10px;
}

.Twitter{
  background-color:#55acee;

}

.btn{
  padding:8px 24px;
  color:white;
  opacity:0.8;
  display:inline-block;
  border-radius:4px;
}

.btn:hover{
  opacity:1;
}

header{
  background-color:rgba(34,49,52,0.9);
  height:65px;
  width:100%;
  position:fixed;
  top:10;
  z-index:10;
}

.header-left{
  float:left;

}

.header-right{
  float:right;
}

header a{
  background-color:rgba(255,255,255,0.3);
  color:white;
  line-height: 65px;
  float:right;
  transition:all 0.5s;
  padding:0 25px;
  cursor:pointer;
}

header a:hover{
  background-color:rgba(255,255,255,0.5);
}

header img{
  width:124px;
  padding:20px 0;
}

.main-wrapper{
  text-align:center;
  height:580px;
  width:100%;
  background-color:#f7f7f7;
}

.main-title{
  margin-top:80px;
  margin-bottom:50px;
  font-weight:normal;
}

.main-items{
  float:left;
  width:25%;
}

.lesson{
  position:relative;
}

.lesson p{
  position:absolute;
  top:44%;
  width:100%;
  color:white;
}

.text-contents{
  width:80%;
  display:inline-block;
  margin-top:15px;
  font-size:13px;
  color:#b3aeb5;

}

.footer-wrapper{
  width:100%;
  text-align:center;
  padding-bottom:80px;
}

.footer-title{
  margin-top:80px;
  margin-bottom:50px;
  color:#5f5d60;
}

.start{
  background-color:#5dca88;
  padding:15px 40px;
  opacity:0.8;
  color:white;
  box-shadow:0 7px #1a7940;
  cursor:pointer;
}

.start:active{
  position:relative;
  top:7px;
  box-shadow: none;
}

footer img{
  width:124px;
}

footer p{
  font-size:12px;
  color:#b3aeb5;
}

footer{
  padding:30px 0;
  border:1px solid #eee;
}
